:root {
  --black: hsla(0, 0%, 10%, 1);
  --darkgrey: hsla(0, 0%, 25%, 1);
  --grey: grey;
  --lightgrey: hsl(0, 0%, 83%, 1);
  --red: hsla(342, 93%, 53%, 1);
  --orange: hsla(32, 100%, 50%, 1);
  --yellow: hsla(49, 99%, 50%, 1);
  --white: hsla(0, 0%, 90%, 1);
  --green: hsla(127, 81%, 41%, 1);
  --border: 0.5rem solid var(--black);
  --border-radius: 5px;
  --box-shadow-colour: var(--darkgrey);
  --box-shadow: 0.25rem 0.25rem 0 var(--box-shadow-colour);
  --box-shadow-active: 0 0 0 var(--box-shadow-colour);
}
body {
  background-color: var(--grey);
  font-family: Futura, sans-serif;
  color: var(--black);
  margin: 0;
}
h1 {
  color: var(--orange);
  font-size: 3rem;
  line-height: 3rem;
  font-weight: normal;
  margin: 0;
}
main {
  margin: 0 auto;
  background-color: var(--grey);
}
section,
header {
  padding: 1rem;
}
header,
div {
  align-items: center;
  display: flex;
  gap: 1rem;
}
header {
  flex-wrap: wrap;
  justify-content: space-between;
}
div {
  flex-grow: 1;
  justify-content: end;
}
@media (max-width: 512px) {
  header {
    padding-top: 0.5rem;
  }
}
section:first-of-type {
  background-color: var(--lightgrey);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
h2 {
  margin: 0;
  font-weight: normal;
  word-break: break-word;
}
